https://hg.adimian.com/sigil-client/archive/tip.zip
Flask==0.10.1
Flask-Alembic==1.2.1
Flask-Login==0.2.11
Flask-Principal==0.4.0
Flask-RESTful==0.3.4
Flask-SQLAlchemy==2.0
Flask-Script==2.0.5
Flask-Cors==2.1.2
Jinja2==2.8
MarkupSafe==0.23
SQLAlchemy==1.0.8
blinker==1.4
coverage==3.7.1
itsdangerous==0.24
psycopg2==2.6.1
pytest==2.7.2
pytest-cov==2.0.0
raven==5.5.0
scandir==1.1
six==1.9.0
gunicorn==19.3.0
