<div class="container-fluid center-block" style="margin-left: 33%">
    <form class="form-signin " id="form-signin" data-bind="visible: !current_user.is_authenticated()">
        <div>
            <h2 class="form-signin-heading">Please sign in</h2>
        </div>
        <div>
            <div class="form-group">
                <label for="username" class="control-label">Username</label>
                <input type="text" name="username" class="form-control" placeholder="Username" required autofocus data-bind="value: current_user.username">
            </div>
            <div class="form-group">
                <label for="password" class="control-label">Password</label>
                <input type="password" name="password" class="form-control" placeholder="Password" required data-bind="value: current_user.password">
            </div>
            <div class="form-group" data-bind="visible: server_options.use_totp()">
                <label for="totp" class="control-label">PIN code</label>

                <div class="row">
                    <div class="col-md-8">
                        <input type="text" name="totp" class="form-control" placeholder="PIN" data-bind="value: current_user.totp">
                    </div>
                    <div class="col-md-4">
                        <a href="" data-bind="click: current_user.send_sms" class="btn btn-default btn-lg">Send SMS <span class="glyphicon glyphicon-phone"></span></a>
                    </div>
                </div>
            </div>

        </div>
        <div>
            <a data-bind="click: $data.recover">Recover password ?</a>
            <button type="submit" class="btn btn-primary" data-bind="click: login">Sign In</button>
        </div>
    </form>
</div>
