#drop_zone {
	border: 2px dashed #bbb;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 25px;
	text-align: center;
	font: 20pt bold 'Vollkorn';
	color: #bbb;
}

.user{
	height: 200px;
	width: 300px;
	border: solid grey 1px;
	border-radius: 5px;
	float: left;
	margin: 4px;
	padding: 4px;
}

.files{
	border: solid grey 1px;
	border-radius: 5px;
	padding: 4px;
	height: 90%;
}

#users{
	clear:both;
}

.files li{
	margin-bottom: -15px;
}

.progress{
	margin: 0;
}

.files li span{
	position: relative;
	bottom: 20px;
	left: 3px;
}

#dropdownMenu1{
	padding: 8px 10px 10px 0;
	cursor: pointer;
	margin-left: -10px;
}

.upload-marker{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	font-size: 100px;
	background: white;
	opacity: 0.4;
	text-align: center;
	display: none;
	border: 15px dashed black;
}

.upload-marker span {
    display: table-cell;
    vertical-align: middle;      
}

.upload-visible{
	display: table;
}