body{
	font-family: 'Open Sans';
}

.container{
	position: absolute;
	top: 0;
	bottom: 0;
	margin: 0px;
	padding: 0px;
	width: 100%;
}

.menu{
	height: calc(100% - 45px);
	width: 200px;
	background-color: #EEE;
	float: left;
}

.menu-item{
	padding: 12.5px;
	padding-left: 15px;
	font-family: 'Open Sans';
	color: #385F88;
}

.menu-item-selected{
	background-color: #C2CBD8;
	color: white;
}

.menu-item:hover{
	background-color: #e5e7ec;
	cursor: pointer;
	color: #385F88;
}

.menu-item-selected:hover{
	background-color: #C2CBD8;
	color: white;
}

.content{
	height: calc(100% - 45px);
	width: calc(100% - 200px);
	float: left;
}

.commands{
	height: 44px;
	width: 100%;
	background-color: white;
	border-bottom: 1px solid grey;
	padding-left: 20px;
	padding-top: 4px;
}

.breadcrumbs{
	height: 45px;
	width: 100%;
	background-color: #f5f5f5;
	padding-left: 20px;
	padding-top: 4px;
}

.breadcrumb{
	float: left;
	padding-left: 5px;
	font-family: 'Open Sans';
	font-weight: 300;
	margin-bottom: 0;
}

.breadcrumb-item:hover{
	color: #999;
	cursor: pointer;
}

.breadcrumb-seperator{
	font-size: 17px;
	font-weight: 600;
	cursor: default;
}

.listing{
	width: 100%;
	height: calc(100% - 45px);
	margin: 0px;
	overflow: scroll;
}

.list-row{
	padding-top: 15px;
	padding-left: 15px;
	height: 55px;
	width: 100%;
	border-bottom: 1px solid #EEE;
	cursor: pointer;
}

.header-row{
	border-bottom: 1px solid #AAA;
}

.header-item{
	float: left;
	font-weight: 600;
}

.icon{
	margin-top: -5px;
}

.mild{
	color: #AAA;
}

.folder{
	background-color: #FAFFFF;
}


.selected_item{
	background-color: #DFF2FF;
}

.row-item{
	font-family: 'Open Sans';
	float: left;
}

.row_actions{
	margin-right: 20px;
	float: right;
	color: #888;
  	display: none;
  	margin-top: 19px;
}

.row_actions span{
	position: relative;
  	top: -20px;
  	margin: 5px;
}

.row_actions span:hover{
	color: #444;
}

.list-row:hover .row_actions{
  	display: block;
}

.width-5{
	width: 5%;
}

.width-10{
	width: 10%;
}

.width-15{
	width: 15%;
}

.width-50{
	width: 50%;
}

.width-70{
	width: 70%;
}

.row_action_box{
	display: none;
	position: absolute;
	border: 1px solid #EEE;
	border-top: 0;
	border-radius: 0 0 5px 5px;
	background-color: #FFF;
}

.box-container{
	padding: 15px;
}

.box-container input{
	margin-bottom: 10px;
}

.version-item{
	color: #999;
	font-family: 'Open Sans';
	width: 100%;
	height: 30px;
}

.version-item .glyphicon-download-alt{
	margin-right: 20px;
}

.glyphicon{
	padding-left: 10px;
	word-spacing: -8px;
	cursor: pointer;
}

.user{
	margin-top: 20px;
}

.progress{
	width: 300px;
	float: right;
	margin-right: 20px;
	display: none;
}

.cbx_label{
	float: left;
	font-family: 'Open Sans';
	margin-top: 7px;
}

.toggle-modern{
	float:left;
	margin: 5px;
}

.header-menu{
	background-color: #385F88;
	width: 100%;
	height: 45px;
	padding-right: 20px;
}

.header-menu-item{
	float: right;
	color: white;
	padding: 10px;
	font-size: 17px;
	cursor: pointer;
}

.header-menu-item:hover{
	color: #C2CBD8;
}

.app-name{
	float: left;
	color: white;
	padding-left: 10px;
	font-size: 30px;
}

.file_name{
	display: inline-block;
}

.file_name:hover{
	text-decoration: underline;
}

.progress-bar{
	width: 0%;
    position: absolute;
    height: 54px;
    z-index: -1;
}

.hotkey{
	float: right;
	color: lightgrey;
	font-size: 12px;
	line-height: 22px;
}

#actual_ddl{
	min-width: 230px;
}

.fader{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.4);
	z-index: 5;
}

.fader-input{
	position: absolute;
	width: 58%;
}

.option-icon{
	padding-left: 0px;
	padding-right: 5px;
}

.dialog_container{
	position: absolute;
	min-width: 500px;
	max-width: 80%;
	top: 50px;
	background-color: white;
	padding-bottom: 5px;
}

.dtitle_container{
	font-family: 'Open Sans';
	padding: 5px;
	padding-left: 10px;
	width: 100%;
	height: 40px;
	background-color: #385F88;
	color: white;
	font-size: 20px;
}

.dtitle_container span{
	float: right;
	font-size: 17px;
	padding-top: 7px;
	padding-right: 3px;
}

.dtext_container{
	font-family: 'Open Sans';
	padding: 10px;
	border-bottom: 1px solid lightgrey;
	margin-bottom: 5px;
	overflow: scroll;
}

.dialog_container button{
	float: right;
	margin-right: 5px;
	width: 100px;
}

.search-bar{
	width: 500px;
    float: right;
    margin-right: 20px;
}

/* admin page */
.admin_section{
	margin: 20px;
	margin-bottom: 40px;
}

.admin_title{
	font-family: 'Open Sans';
	font-size: 24px;
	font-weight: 600;
}

.admin_content{
	font-family: 'Open Sans';
	padding: 10px;
}

.admin-item{
	clear: both;
}

.admin-label{
	font-weight: 600;
    float: left;
    text-align: right;
    width: 60px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 16px;
}

.admin-value{
	float: left;
	font-size: 16px;
	border: 0px;
	max-width: 60%;
}

.admin-value:focus{
	float: left;
	font-size: 16px;
	border: 1px;
	width: 60%;
}

.zone-help{
  	display: none;
  	color: lightgrey;
}

.admin-row:hover .zone-help{
  	display: block;
}

.color_red{
	color: #d9534f;
}

.color_green{
	color: #449d44;
}

.admin-search-bar{
	width: 95%;
    margin-left: -15px;
    margin-top: -5px;
}

.pconf-username{
	font-weight: 600;
	font-size: 16px;
	margin-top: 5px;
	margin-left: 5px;
}

.pconf-needs{
	margin-left: 10px;
}
.pconf-needs-end{
	clear:both;
}

.pconf-item{
	float: left;
	margin-right: 5px;
}