<h3>Your details:</h3>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-1"><h4>Username</h4></div>
        <div class="col-md-1"><h4><small data-bind="text: user.username"></small></h4></div>
    </div>
    <div class="row">
        <div class="col-md-1"><h4>Displayname</h4></div>
        <div class="col-md-1"><h4><small data-bind="text: user.display_name"></small></h4></div>
    </div>
    <div class="row">
        <div class="col-md-1"><h4>Firstname</h4></div>
        <div class="col-md-1"><h4><small data-bind="text: user.first_name"></small></h4></div>
    </div>
    <div class="row">
        <div class="col-md-1"><h4>Lastname</h4></div>
        <div class="col-md-1"><h4><small data-bind="text: user.last_name"></small></h4></div>
    </div>
    <div class="row">
        <div class="col-md-1"><h4>API key</h4></div>
        <div class="col-md-1"><h4><small data-bind="text: user.api_key"></small></h4></div>
    </div>
</div>

<h3>Your permissions:</h3>

<div class="container-fluid" data-bind="foreach: user.provides">
    <div class="row">
        <div class="col-md-1"><h4 data-bind="text: zone"></h4></div>
        <!-- ko foreach: access.sort() -->
            <div class="col-md-1"><h4><small data-bind="text: $data"></small></h4></div>
        <!-- /ko -->
    </div>
</div>
